body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #808080;
  }
  li{
      list-style: none;
  }
  li.lst{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-top: 1px solid #d3d3d3;

  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-top: 1px solid #d3d3d3;
  }
   
  .sidebar a.active {
    color: #fff;
    background-color: #555;
  
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-bottom: 40px;
    padding: 1px 16px;
    height: 100px;
    background-color: #d3d3d3;
    border-right: 1px solid #808080;

  }
  #students{
    float: right;
    width: 80%;
    display: none;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  .col-md-4{
    background-color: #fff;
    width: 450px;
    padding: 19px;   
    height: 500px;
    margin-left: 350px;  
    margin-top: 100px;
    border-radius: 4px;
    position: relative;
    z-index: 2 !important;
  }
  #modal-form{
    width: 1093px;
    height: 100vh;
    background-color:rgba(0,0,0,0.7);
    margin-top: -370px !important;
    position: absolute; 
    display: none;
  }
  #btn-student{
    width: 330px !important;
  }
  #btn-instructor{
    width: 330px !important;
  }
  #close-modal{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color:#000;
    background:none;
    top: -5px;
    right: 14px;
    border: none;
    outline: none;
    transform: rotate(45deg);
    cursor: pointer;
  }
  #courses{
    float: right;
    width: 80%;
    background-color: #ccc  ;
    height: 900px;
    display: none;
  }
  .info-courses{
    display: flex;
    padding: 20px;
    margin: 10px;
  }
  .courses-number{
    width: 300px;
    height: 150px;
    background-color: #ffc107f0;
    border-radius: 5px;
    margin-right: 30px;
  }
  .students-number{
    width: 300px;
    height: 150px;
    background-color: #17a2b8;
    margin-right: 30px;
    border-radius: 5px;
  }
  .instructors-number{
    width: 300px;
    height: 150px;
    background-color: #28a745;
    border-radius: 5px;
  }
  .input-group{
    padding-left: 300px;
    margin-top: 50px;
    width: 700px;
  }
  #search_courses{
    width: 500px !important;
    height: 50px;
  }
  .input-group-addon{
    font-size: 17px;
    font-weight: bold;
  }
  .lectures{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 50px 90px;
  }
  .lectures>div{
    width: 250px;
    height:200px;
    background-color: #fff;
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 2 !important;
    box-shadow: 3px 2px 8px;
  }  
  .course-image{
    width: 250px;
    height: 200px;
    z-index: -1;
    position: absolute;
    border-radius:4px;
  }
  .course-image>img{
    position: relative;
    width: 250px;
    height: 200px;
    z-index:-1;
    border-radius: 4px;
  }
  .course_link{
    text-decoration: none;
  }
  .course_link:hover{
    text-decoration: none;
  }
  .course-text{
    width: 250px;
    height: 200px;
    position: relative;
    z-index: 5;
    border-radius: 4px;
    background: rgba(0,0,0,0.3);
  }
  .course-text > p{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    opacity: 1 !important;
    text-align: center;
    padding-top: 160px;
    text-transform: uppercase;
  }
  .course-detail{
    color: #fff;
    font-size: 23px;
    font-family: sans-serif;
    text-align: center;
}
.text{
  display: block;
  margin-bottom: 0px;
  font-size: 40px !important;
  margin-top: 40px;
}
  .number{
    display: block;
    margin-bottom: -5px;
    font-size: 80px !important;
  }
  #add-course{
    float: right;
    margin-right: 20px;
  }
  .modal-form-courses{
    width: 80%;
    height: 1000px;
    background-color:rgba(0,0,0,0.7);
    margin-top: -280px !important;
    position: absolute; 
    display: none;
    z-index: 500 !important;
  }
  .close-modal-courses{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color:#000;
    background:none;
    top: -5px;
    right: 14px;
    border: none !important;
    outline: none !important;
    transform: rotate(45deg);
    cursor: pointer;
  }
  #btn{
    margin-top: 20px;
    width: 324px;
  }
  #instructors{
      float: right;
      width: 80%;
      display: none;
  }
  #instructors>.btn{
    border-radius: 4px;
    margin-left: 420px;
    margin-top: 20px;
  }
  #modal-form-instructors{
    width: 80%;
    height:auto;
    overflow-y: hidden;
    background-color:rgba(0,0,0,0.7);
    margin-top: -60px !important;
    position: absolute; 
    display: none;
    z-index: 500 !important;
  }
  #close-modal-instructors{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color:#000;
    background:none;
    top: -5px;
    right: 14px;
    border: none !important;
    outline: none !important;
    transform: rotate(45deg);
    cursor: pointer;
  }
  #instructor-form{
    background-color: #fff;
    width: 450px;
    padding: 19px;   
    height: 590px;
    margin-left: 350px;  
    margin-top: 70px;
    border-radius: 4px;
    position: relative;
    height: 29px;
    z-index: 2 !important;
  }
  #instructor-form input[type=file]{
    padding: 0px;
    margin-bottom: 10px ;
    font-size: 15px;
    cursor: pointer;
    object-fit: contain;
  }
  .instructors{
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transition: 0.5s;   
  }
  .instructors:hover{
    filter: grayscale(100%);
  }
  .inst_images{
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    border-right: 1px solid #ccc;
    float: left;
  }
  .inst_info{
    width: 400px;
    float: right;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    height: 0;
    overflow: hidden;
  }
  .inst_info:target{
    margin-top: 200px;
    margin-right: 20px;
    height: auto;
  }
  .inst_info p.instructor_description span{
    font-weight: bold;
    margin-right: 5px;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  