body{
    margin: 0;
    padding: 0;
}
.p-welcome{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.dashboard{
    float: left;
    width: 30%;
    background-color: lightgreen;
    height: 100vh;
}
.content-student{
    float:right;
    width: 70%;
    background-color: whitesmoke;
    height: 100vh;
    display: none;
}
ul{
    margin: 0;
    padding: 0; 
}
li{
    text-align: center;
    display: block;
    list-style-type: none;
    border-bottom: 2px solid #000;
}
form{
    display: none;
}