body{
    background-color: #000000;
  }
* {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }
    .loader_bg{
      position: fixed;
      z-index: 999999;
      background: #fff;
      width: 100%;
      height: 100%;
  }

  .loader, .loader:before, .loader:after{
      border-width: 3px;
      border-style: solid;
      border-top-color: transparent;
      border-left-color: transparent;
  }
  .loader:before, .loader:after{
      content: "";
      position: absolute;
  }
  .loader{
      position: relative;
      border-color: #ffeb3b;
      height: 100px;
      width: 100px;
      top: calc(50vh - 75px);   
      left: calc(50vw - 75px);   
  }
  .loader:before{
      height: 80px;
      width: 80px;
      top: 8px;
      left: 8px;
      border-color: #e91e63;
  }
  .loader:after{
      height: 60px;
      width: 60px;
      top: 18px;
      left: 18px;
      border-color: #009688;
  }
  .loader, .loader:before, .loader:after{
      border-width: 3px;
      border-style: solid;
      border-top-color: transparent;
      border-left-color: transparent;
      border-radius: 50%;
  }
  .loader:before, .loader:after{
      content: "";
      position: absolute;
  }
  .loader{
      animation: rotate 2000ms linear infinite;
  }
  .loader:before{
      animation: rotate 1000ms linear infinite;
  }
  .loader:after{
      animation: rotate 500ms linear infinite reverse;
  }
  @keyframes rotate{
      0%{ transform: rotateZ(0deg)}
      100%{ transform: rotateZ(360deg)}
  }  
.navbar {
  position: fixed !important;
  top: 0px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #ffffff; 
  height: 80px;
}
.navbar img {
  width: 80px;
  height: 80px;
}
.navbar a {
  float: right;
  font-weight: bold;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a.p {
   font-size: 30px;
   margin-right: 18em;
   padding-top: 20px;
}
.navbar a.p:hover {
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: none;
  color:#ff9800;
}
.nav-hover{
  color: #000;
}
 .navbar a.active {
  color: #ff9800;
}
.nav-scroll{
  background-color: #fff;
  border:none;
  box-shadow: 10px 10px 12px #808080;
  height: 60px;
  transition: 0.3s;
}
.nav-scroll a{
  color:#000;
}
.nav-scroll img{
height:60px;
width:60px;
}
.nav-scroll .p{
  color:#000000;
}
.bg-img .container .navbar a i:hover {
    color: #ff9800;
}
.bg-img .container
{
  text-align: center;
}
.bg-img .container h2 {
  padding-top: 3.5em;
  color: orange;
  font-weight: bold; 
  font-family: sans-serif;
  font-size: 60px;
}
.bg-img .container p {
  color: #ffffff;
  font-size: 30px;
}
.bg-img {
  top: -50px;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.0)), url("../Photos/28.jpg") no-repeat center;
  height: 680px;
  background-size: cover;
  position: relative;
 }
.bg-img .container button{
  color: #ffffff;
  background-color: transparent;
  padding: 15px 25px;
  font-size: 18px;
  font-family: sans-serif;
  border: 1px solid #ADD8E6;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 100px;
}
.bg-img .container button:hover {
  color: #000000;
  background-color: #ffffff;
}
.sidebar {
  height: auto;
  border: 1px #fff solid;
  width: 60px;
  position: fixed;
  z-index: 1;
  margin-top: -10em;
  right: 20px;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 1px;
}

.sidebar a {
  padding: 6px 8px;
  text-decoration: none; 
  font-size: 20px;
  color: #ff9800;
  display: block;
  border: 1px #ffffff solid;
}

.sidebar a:hover {
  background-color: #ff9800;
  color: #fff;
}
.footer{
            width: 100%;
            background: #00121b;
            display: block;
    }
    .footer .inner_footer{
      width: 95%;
      margin: auto;
      padding: 30px 10px;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      justify-content: center;
    }
    .footer .inner_footer .footer_items{
      width: 25%;
      padding: 10px 20px;
      box-sizing: border-box;
    }
    .footer .inner_footer .footer_items h1{
      padding: 10px 0;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
    }
    .footer .inner_footer .footer_items p{
      color: grey;
      font-size: 16px;
      text-align: justify;
      line-height: 25px;
    }
    .footer .inner_footer .footer_items h2{
      margin: 10px 0;
      color: grey;
      font-size: 16px;
      font-weight: lighter;
      text-transform: uppercase;
    }
    .border {
      height: 2px;
      width: 40px;
      background: #ff9800;
    }
    .footer .inner_footer .footer_items ul {
      list-style: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 0.5px;
    }
    .footer .inner_footer .footer_items ul a{
      text-decoration: none;
      outline: none;
      color: #fff;
      transition: 0.3s;
    }
    .footer .inner_footer .footer_items ul a:hover{
      color: #ff9800;
    }
    .footer .inner_footer .footer_items ul li{
      margin: 10px 0;
      height: 25px;
    }
    .footer .inner_footer .footer_items li i{
      margin-right: 20px;
    }
    .social_media {
      width: 100%;
      color: #fff;
      text-align: right;
      margin-right: 6em;
    }
    .social_media a{
      text-decoration: none;
    }
    .social_media i{
      width: 15px;
            height: 15px;
            margin: 20px 5px;
            padding: 10px;
      color: #fff;
      border-radius: 50%;
      border: 1px solid grey;
      transition: 0.3s; 
    }
    .social_media i:hover{
      background: grey;
    }
    .footer_bottom{
      padding: 10px;
      background: #3d545f;
      font-size: 12px;
      text-align: center;
    }

    @media screen and (max-width: 1085px){
      .social_items{
        width: 50%;
      }
    }
    @media screen and (max-width: 600px){
      .social_items{
        width: 100%;
      }
    }