*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.team_section{
    overflow: hidden;
    text-align: center;
    background: #34495e;
    padding: 60px;
}
.team_section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: #fff;
    font-size: 40px;
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}
.ps{
    margin-bottom: 40px;
}
.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}
.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}
.ps a:hover img{
    filter: none;
}
.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: #fff;
    text-align: justify;
    height: 0;
    overflow: hidden;
}
.section:target{
    height: auto;
} 
.name{
    display: block;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 22px;
}
